<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Good Day</title>
    <link href="https://fonts.googleapis.com/css?family=Kalam:300|Salsa" rel="stylesheet">

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") 
    <link href="~/Content/estilo.css" rel="stylesheet" />
    <link href="~/Content/icon.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
</head>

<body>
    <nav class="navbar-azul">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-4 col-lg-offset-2 col-lg-6">
                    <h1 class="Salsa">Good Day</h1>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed borde" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar rgbablack"></span>
                        <span class="icon-bar rgbablack "></span>
                        <span class="icon-bar rgbablack"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="color" id="nombreUsuario">@(((Good_Day.Models.Usuario)Session["UsuarioLogueado"]).NameUsuario)</span> <span class="caret color"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Configuración</a></li>
                                <li><a href="#">Ayuda</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Logout","Usuarios")">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/miJavaScript.js"></script>
    
 </body>

</html>
